<ion-card class="character-card">
  <div class="card-header">
    <img src="assets/p.png" width="20%"/>
    <ion-card-header>
      <ion-card-title>Repo Wianata Barus</ion-card-title>
      <ion-card-subtitle>H1D022029</ion-card-subtitle>
    </ion-card-header>
  </div>

  <ion-card-content> The Best Warrior In The World </ion-card-content>

  <ion-item lines="none" class="character-stats">
    <ion-icon name="heart" slot="start"></ion-icon>
    <ion-label>HP</ion-label>
    <ion-badge slot="end">100</ion-badge>
  </ion-item>

  <ion-item lines="none" class="character-stats">
    <ion-icon name="shield-outline" slot="start"></ion-icon>
    <ion-label>Armor</ion-label>
    <ion-badge slot="end">75</ion-badge>
  </ion-item>
  
  <ion-item lines="none" class="character-stats">
    <ion-icon name="cut" slot="start"></ion-icon>
    <ion-label>Attack</ion-label>
    <ion-badge slot="end">150</ion-badge>
  </ion-item>
  
  <ion-item lines="none" class="character-stats">
    <ion-icon name="bag-outline" slot="start"></ion-icon>
    <ion-label>Inventory</ion-label>
    <ion-badge slot="end">5/10</ion-badge>
  </ion-item>
</ion-card>
